<!-- <div class="title">
      <a href="/"><img style="height: 10em; width:auto" src="/images/juliaopt.svg"></a>
      <h1>JuliaOpt</h1>
      <p>
        Optimization packages for the <a href="http://julialang.org">Julia language.</a>
      </p>
</div> -->

<div class="container">
  <!-- Big box at top -->
  <div class="jumbotron text-center">
    <img style="height: 10em; width:auto" src="/images/juliaopt.svg">
    <h1>JuliaOpt</h1>
    <p>
      Optimization packages for the <a href="http://julialang.org">Julia language.</a>
    </p>
  </div>
</div>
